<div class="col-sm-12">
	<fieldset>

		<form-display ng-if="isEnglish()"
			class="col-sm-12"
			x-options='{
				"title":"Background (English)",
				"name":"description",
				"help":"Here is where you can fully describe any useful background, and what you are trying to accomplish by offering this paid opportunity."
			}'>
			<textarea
				name="description"
				id="description"
				class="form-control input-sm"
				ui-tinymce="vm.tinymceOptions"
				placeholder="A full description of the opportunity"
				ng-model="vm.opportunity.description">
			</textarea>
		</form-display>
		<form-display ng-if="isFrench()"
			class="col-sm-12"
			x-options='{
				"title":"Contexte (Anglais)",
				"name":"description",
				"help":"C&apos;est ici que vous pouvez inscrire tous renseignements utiles et ce que vous souhaitez accomplir grâce à cette possibilité de travail rémunérée."
			}'>
			<textarea
				name="description"
				id="description"
				class="form-control input-sm"
				ui-tinymce="vm.tinymceOptions"
				placeholder="A full description of the opportunity"
				ng-model="vm.opportunity.description">
			</textarea>
		</form-display>

		<form-display ng-if="isEnglish()"
			class="col-sm-12"
			x-options='{
				"title":"Background (French)",
				"name":"description_fr",
				"help":"Here is where you can fully describe any useful background, and what you are trying to accomplish by offering this paid opportunity."
			}'>
			<textarea
				name="description_fr"
				id="description_fr"
				class="form-control input-sm"
				ui-tinymce="vm.tinymceOptions"
				placeholder="A full description of the opportunity"
				ng-model="vm.opportunity.description_fr">
			</textarea>
		</form-display>
		<form-display ng-if="isFrench()"
			class="col-sm-12"
			x-options='{
				"title":"Contexte (Français)",
				"name":"description_fr",
				"help":"C&apos;est ici que vous pouvez inscrire tous renseignements utiles et ce que vous souhaitez accomplir grâce à cette possibilité de travail rémunérée."
			}'>
			<textarea
				name="description_fr"
				id="description_fr"
				class="form-control input-sm"
				ui-tinymce="vm.tinymceOptions"
				placeholder="A full description of the opportunity"
				ng-model="vm.opportunity.description_fr">
			</textarea>
		</form-display>

<!--
		<form-display
			class="col-sm-12"
			x-options='{
				"title":"Background",
				"name":"background",
				"help":"Here is where you can fully describe any useful background"
			}'>
			<textarea
				name="background"
				id="background"
				class="form-control input-sm"
				ui-tinymce="vm.tinymceOptions"
				placeholder="A full background of the opportunity"
				ng-model="vm.opportunity.background">
			</textarea>
		</form-display>
 -->
	</fieldset>
</div>

