<section class="form-page">
<div class="container" role="main">

	<div class="row">
		<div class="col-sm-12">
			<div class="well well-lg well-info well-left-align">
		      <h4 translate="OPP_EDIT_P1">Managing a GCDevExchange opportunity</h4>
		      <p translate="OPP_EDIT_P2" style="text-align: left;">By posting an opportunity on the GCDevExchange, you are agreeing to the following <a href="https://github.com/canada-ca/devex/blob/master/GCDevEx_TermsandConditions.md">Terms</a>. Make sure you are familiar with the process and understand your responsibilities for managing an opportunity.</p>
		      <br>
		      <a class="btn btn-default" href="https://github.com/canada-ca/devex/wiki/1.-Introduction-%7C-Introduction" target="_blank" translate="OPP_EDIT_P3">Read the guide</a>
			</div>
		</div>
	</div>

	<div class="row"  ng-if="false && !vm.canPublish">
		<div class="col-xs-12 well well-sm well-warning"">
			<div class="text-center">
				<span>
					<label class="label label-lg label-danger-o"><i class="fa fa-exclamation-triangle"></i> &nbsp; You may not publish this opportunity until the following fields have been filled out.</label>
				</span>
			</div>
			<br/>
			<div class="col-sm-4 col-sm-offset-4">
				<ul><li ng-repeat="fname in vm.errorFields">{{fname}}</li></ul>
			</div>
		</div>
	</div>

	<form id="opportunityForm" warn-on-exit name="vm.opportunityForm" class="form" ng-submit="vm.save(vm.opportunityForm.$valid)" novalidate>

		<div class="row form-head">
			<div class="col-md-6">
				<h2 ng-if="vm.editing">Editing: {{::vm.opportunity.name}}</h2>
				<h2 ng-if="!vm.editing" translate="OPP_NEW">New Opportunity</h2>
			</div>
			<div class="col-md-6 col-form-buttons text-right">
				<button type="submit" href="javascript:void(0);" class="btn btn-success" title="Save changes" translate="SAVE_CHANGES">Save changes</button>
				<a href="javascript:void(0);" ng-if="vm.editing" class="btn btn-danger" ng-click="vm.remove()" title="{{ 'OPP_DELETE' | translate }}" translate="OPP_DELETE">Delete Opportunity</a>
				<a class="btn btn-default" href="{{vm.previousState.url}}" title="Cancel" translate="CANCEL">Cancel</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<fieldset>
					<div class="form-group text-center" ng-if="vm.features.swu">
								<div class="btn-group">
									<label class="btn btn-success" ng-model="vm.opportunity.opportunityTypeCd" uib-btn-radio="'code-with-us'">I am looking for an <em>Individual</em></label>
									<label class="btn btn-success" ng-model="vm.opportunity.opportunityTypeCd" uib-btn-radio="'sprint-with-us'">I am looking for a <em>Team</em></label>
								</div>
						<div class="radio" ng-if="0">
							<label>
								<input type="radio" name="opportunityTypeCd" ng-model="vm.opportunity.opportunityTypeCd" value="code-with-us"/>
								I am looking for an <em>Individual</em>
								&nbsp; &nbsp; &nbsp;
								<input type="radio" name="opportunityTypeCd" ng-model="vm.opportunity.opportunityTypeCd" value="sprint-with-us"/>
								I am looking for a <em>Team</em>
							</label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<uib-tabset active>
				<uib-tab index="0">
					<uib-tab-heading>
						{{ "OPP_HEADER" | translate }}
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.title.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="2">
					<uib-tab-heading>
						{{ "OPP_BACKGROUND" | translate }}
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.description.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="4" ng-if="vm.opportunity.opportunityTypeCd !== 'sprint-with-us'">
					<uib-tab-heading>
						{{ "OPP_DETAILS" | translate }}
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.cwu.details.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="5" ng-if="vm.opportunity.opportunityTypeCd !== 'sprint-with-us'">
					<uib-tab-heading>
						{{ "OPP_ACC_EVAL" | translate }}
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.cwu.acceptance.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="6" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
					<uib-tab-heading>
						{{ "OPP_DETAILS" | translate }}
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.details.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="7" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
					<uib-tab-heading>
						Phases
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.phases.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="8" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us' && vm.opportunity.isInception">
					<uib-tab-heading>
						Inception &nbsp; <i class="fa fa-check-circle ctc-green" ng-if="vm.opportunity.isInception"></i>
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.inception.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="10" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us' && vm.opportunity.isPrototype">
					<uib-tab-heading>
						Prototype &nbsp; <i class="fa fa-check-circle ctc-green" ng-if="vm.opportunity.isPrototype"></i>
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.prototype.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="12" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us' && vm.opportunity.isImplementation">
					<uib-tab-heading>
						Implementation &nbsp; <i class="fa fa-check-circle ctc-green" ng-if="vm.opportunity.isImplementation"></i>
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.implementation.view.html'"></ng-include>
				</uib-tab>
				<uib-tab index="14" ng-if="vm.opportunity.opportunityTypeCd === 'sprint-with-us'">
					<uib-tab-heading>
						Terms and Conditions
					</uib-tab-heading>
					<ng-include class="proposal-form-container" src="'/modules/opportunities/client/views/edit-opportunity.swu.terms.view.html'"></ng-include>
				</uib-tab>
			</uib-tabset>
		</div>
		<br/>

		<div class="row form-foot">
			<div class="col-sm-12 col-form-buttons foot text-right">
				<button type="submit" href="javascript:void(0);" class="btn btn-success" title="{{ 'SAVE_CHANGES' | translate }}" translate="SAVE_CHANGES">Save Changes</button>
				<a href="javascript:void(0);" ng-if="vm.editing" class="btn btn-danger" ng-click="vm.remove()" title="{{ 'OPP_DELETE' | translate }}" translate="OPP_DELETE">Delete Opportunity</a>
				<a class="btn btn-default" href="{{vm.previousState.url}}" title="{{ 'CANCEL' | translate }}" translate="CANCEL">Cancel</a>
			</div>
		</div>

	</form>

</div>
</section>

