<div class="row list-head">
  <div class="col-sm-7">
    <h3 ng-bind="vm.title" class="list-page-hide"></h3>
  </div>
  <div class="col-sm-5 col-form-buttons text-right">
    <button ng-if="vm.userCanAdd" class="btn" ng-class="{'btn-default': !vm.project && !vm.program, 'btn-link': vm.project || vm.program}" ui-sref="opportunityadmin.create({programId:vm.programId, projectId:vm.projectId, programTitle:vm.programTitle, projectTitle:vm.projectTitle, context:vm.context})" title="New">
      <i class="glyphicon glyphicon-plus"></i> <span translate="OPP_NEW">Post an Opportunity</span>
    </button>
  </div>
</div>

<h1 property="name" id="wb-cont" translate="OPP_TITLE">Opportunities List</h1>

<table class="wb-tables table table-striped table-hover" ng-if="vm.opportunities.length">
  <thead>
    <tr class="active">
      <th translate="OPP_TH1">Opportunity Title</th>
      <th translate="OPP_TH2">Description</th>
      <th translate="OPP_TH3">Project</th>
      <th translate="OPP_TH4">Fixed Price</th>
      <th translate="OPP_TH5">Closing Date</th>
      <th translate="OPP_TH6">Tags</th>
      <th translate="ACTIONS">Actions</th>
    </tr>
  </thead>
  <tbody id="tbodyMain">
    <tr role="row" ng-class="{'card-greyed': !opportunity.isPublished}" ng-repeat="opportunity in vm.opportunities | slice:column.start:column.end">
      <td ng-if="isEnglish()"><a ui-sref="opportunities.view({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-bind="opportunity.name"></a></td>
      <td ng-if="isFrench()"><a ui-sref="opportunities.view({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-bind="opportunity.name_fr"></a></td>
      <td ng-if="isEnglish()" ng-bind="opportunity.short"></td>
      <td ng-if="isFrench()" ng-bind="opportunity.short_fr"></td>
      <td ng-if="isEnglish()"><a ng-if="opportunity.project" id="projects.view" ui-sref="projects.view({projectId:opportunity.project.code})"><i class="fa fa-pie-chart"></i> {{opportunity.project.name}}</a></td>
      <td ng-if="isFrench()"><a ng-if="opportunity.project" id="projects.view" ui-sref="projects.view({projectId:opportunity.project.code})"><i class="fa fa-pie-chart"></i> {{opportunity.project.name_fr}}</a></td>
      <td><span class="label label-price">{{opportunity.earn | translate}} {{ 'TAX_INCL' | translate}}</span></td>
      <td><span class="label label-deadline"><i class="fa fa-hourglass-half"></i> <span style="font-weight:300;" translate="OPP_CLOSING">Closing in:</span> {{vm.closing(opportunity)}}</span></td>
      <td ng-if="isEnglish()"><div class="label-list"><span class="label label-warning" ng-repeat="code in opportunity.skills">{{code}}</span></div></td>
      <td ng-if="isFrench()"><div class="label-list"><span class="label label-warning" ng-repeat="code in opportunity.skills_fr">{{code}}</span></div></td>
      <td><div ng-if="vm.isAdmin || opportunity.userIs.admin">
        <span class="label label-danger" ng-if="!opportunity.isPublished"><i class="fa fa-exclamation-triangle" ></i> {{ 'UNPUBLISHED' | translate }}</span>
        &nbsp;
        <a ng-if="opportunity.project.isPublished && (vm.isAdmin || opportunity.userIs.admin) && opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, false); $event.stopPropagation()" uib-tooltip="Unpublish"><i class="glyphicon glyphicon-ban-circle"></i></a>
        &nbsp;
        <a ng-if="opportunity.project.isPublished && (vm.isAdmin || opportunity.userIs.admin) && !opportunity.isPublished" href="javascript:void(0);" ng-click="vm.publish(opportunity, true); $event.stopPropagation()" uib-tooltip="Publish"><i class="glyphicon glyphicon-check"></i>
        </a>
        &nbsp;
        <a ng-if="vm.isAdmin || opportunity.userIs.admin" href="javascript:void(0);"  id="opportunityadmin.edit" ui-sref="opportunityadmin.edit({ opportunityId: opportunity.code, projectId: vm.projectId })" ng-click="$event.stopPropagation()" uib-tooltip="{{ 'EDIT' | translate }}"><i class="glyphicon glyphicon-edit"></i></a>
        <button ng-if="vm.canApplyGeneral && !opportunity.userIs.member && !opportunity.userIs.request" class="btn btn-default btn-sm">Apply</button>
      </div></td>
    </tr>
  </tbody>
</table>

<div class="row" ng-if="!vm.opportunities.length">
  <div class="col-md-6">
    <div class="panel panel-default panel-body">
      <span class="text-muted" translate="OPP_NONE">No open opportunities right now. Check back soon!</span>
    </div>
  </div>
</div>
