<section class="static">
    <div class="container">
    <div class="row">
    <div class="col-md-9">
    <h1 style="padding-bottom: 20px;">About the Government of Canada Developers Exchange</h1>
    </div>
    </div>
    </div>
  
    <div class="container-fluid" style="position: relative; width: 100%; min-height: 325px;
    overflow-y: hidden; background: url(/modules/core/client/img/photos/facilitation.jpg) no-repeat center; background-size: cover;">      
    </div>
    
    <div class="container">
    <div class="row">
    <div class="col-md-9">
    <br><br>
    <blockquote>
   
    </blockquote>
    <br>
    <h3></h3>
   
    <br>
    </div>
    </div>
    </div>

 
</section>
