<nav role="navigation" class="container wb-navcurr">
	<h2 class="wb-inv" translate="SUBFOOTER_TITLE">About government</h2>
	<ul class="list-unstyled colcount-sm-2 colcount-md-3">
		<li translate="SUBFOOTER_LINK1"><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
		<li translate="SUBFOOTER_LINK2"><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
		<li translate="SUBFOOTER_LINK3"><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
		<li translate="SUBFOOTER_LINK4"><a href="https://www.canada.ca/en/news.html">News</a></li>
		<li translate="SUBFOOTER_LINK5"><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
		<li translate="SUBFOOTER_LINK6"><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
		<li translate="SUBFOOTER_LINK7"><a href="http://pm.gc.ca/eng">Prime Minister</a></li>
		<li translate="SUBFOOTER_LINK8"><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
		<li translate="SUBFOOTER_LINK9"><a href="http://open.canada.ca/en/">Open government</a></li>
	</ul>
</nav>
<div class="brand">
	<div class="container">
		<div class="row">
			<nav class="col-md-10 ftr-urlt-lnk">
				<h2 class="wb-inv" translate="FOOTER_TITLE">About this site</h2>
				<ul>
					<li translate="FOOTER_LINK1"><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li translate="FOOTER_LINK2"><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li translate="FOOTER_LINK3"><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
					<li translate="FOOTER_LINK4"><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li translate="FOOTER_LINK5"><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
				</ul>
			</nav>
			<div class="col-xs-6 visible-sm visible-xs tofpg">
				<a href="#wb-cont" translate="FOOTER_TOP">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-xs-6 col-md-2 text-right">
				<object type="image/svg+xml" tabindex="-1" role="img" data="https://wet-boew.github.io/themes-dist/GCWeb/assets/wmms-blk.svg" aria-label="{{ 'FOOTER_FIP' | translate}}"></object>
			</div>
		</div>
	</div>
</div>

<!--[if gte IE 9 | !IE ]><!-->
<script src="//wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="//wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="//wet-boew.github.io/themes-dist/GCWeb/js/theme.min.js"></script>

<!-- Bootstrap Scrollspy Plugin -->
<script src="/js/bootstrap-affix-scrollspy.js"></script>