<ul id="wb-tphp" class="wb-init wb-disable-inited">
    <li class="wb-slc">
      <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
      <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
  <li class="wb-slc"><a class="wb-sl" rel="alternate" href="?wbdisable=true">Switch to basic HTML version</a></li>
</ul>
<header role="banner" ng-controller="HeaderController as vm">
  <div id="wb-bnr" class="container">
    <div class="row">
      <div class="brand col-xs-6" ng-if="isEnglish()">
        <object type="image/svg+xml" tabindex="-1" data="/modules/core/client/img/wet/sig-blk-en.svg"></object><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
      </div>
      <div class="brand col-xs-6" ng-if="isFrench()">
        <object type="image/svg+xml" tabindex="-1" data="/modules/core/client/img/wet/sig-blk-fr.svg"></object><span class="wb-inv"> Gouvernement du Canada / <span lang="en">Government of Canada</span></span>
      </div>
      <div class="brand col-xs-6 text-right">
        <ul class="list-inline margin-bottom-none" ng-hide="vm.authentication.user">
          <li><a href ng-click="goTo('authentication.gov')" translate="SIGNUP">Sign Up</a></li>
          <li><a href ng-click="goTo('authentication.signinadmin')" translate="SIGNIN">Sign In</a></li>
          <li><a href ng-click="changeLanguage()" translate="CHANGE_LANGUAGE">Français</a></li>
        </ul>
        <ul class="list-inline margin-bottom-none" ng-show="vm.authentication.user">
          <li ng-repeat="item in vm.menu.items | limitTo: 1 | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown', active: isActiveMenu(item)}" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
            <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button"><i class="nav-icon" ng-class="item.icon||'fa fa-puzzle-piece'" aria-hidden="true"></i> {{::item.title}}&nbsp;<span class="caret"></span></a>
            <ul ng-switch-when="dropdown" class="dropdown-menu">
              <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
              </li>
            </ul>
            <a ng-switch-default ui-sref="{{item.state}}"><i class="nav-icon" ng-class="item.icon||'fa fa-puzzle-piece'" aria-hidden="true"></i> {{::item.title}}</a>
          </li>
          <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
              <img ng-src="{{vm.authentication.user.profileImageURL}}" class="header-profile-image" />
              <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
              </li>
              <li ng-if="vm.isUser">
                <a href ng-click="goTo('settings.profile')" translate="PROFILE" target="_self">Profile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/api/auth/signout" target="_self"><i class="fa fa-sign-out" aria-hidden="true"></i> <span translate="SIGNOUT">Sign Out</span></a>
              </li>
            </ul>
          </li>
          <li><a href ng-click="changeLanguage()" translate="CHANGE_LANGUAGE">Français</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="themenav">
    <ul class="nav scroll dragscroll secondary affix-top" data-spy="affix" data-offset-top="150">
      <li><a class="nav-link" href ng-click="goTo('programs.list')" translate="TEAMS">Teams</a></li>
      <li><a class="nav-link" href ng-click="goTo('projects.list')" translate="PROJECTS">Projects</a></li>
      <li><a class="nav-link" href ng-click="goTo('opportunities.list')" translate="OPPORTUNITIES">Opportunities</a></li>
    </ul>
  </div>

  <nav role="navigation" id="wb-bc" class="" property="breadcrumb">
    <h2 class="wb-inv">You are here:</h2>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li ng-if="!isHomePage()"><a href ng-click="goTo('home')" translate="HOME">Home</a></li>
          <li ncy-breadcrumb></li>
        </ol>
      </div>
    </div>
  </nav>
</header>
