<ul id="wb-tphp" class="wb-init wb-disable-inited">
    <li class="wb-slc">
      <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
      <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
  <li class="wb-slc"><a class="wb-sl" rel="alternate" href="?wbdisable=true">Switch to basic HTML version</a></li>
</ul>
<header role="banner" ng-controller="HeaderController as vm">
  <div id="wb-bnr" class="container">
    <div class="row">
      <div class="brand col-xs-8" translate="HEADER_FIP">
          <object type="image/svg+xml" tabindex="-1" data="https://wet-boew.github.io/themes-dist/GCWeb/assets/sig-blk-en.svg"></object><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
      </div>
      <div class="brand col-xs-4 text-right">
        <ul class="list-inline margin-bottom-none" ng-hide="vm.authentication.user">
          <li><a href="#beta-definition" aria-controls="beta-definition" class="wb-lbx lbx-modal btn btn-primary text-uppercase" role="button" translate="BETA">Beta</a></li>
          <li><a href="/{{currentLang}}/authentication/government" translate="SIGNUP">Sign Up</a></li>
          <li><a href="/{{currentLang}}/authentication/signinadmin" translate="SIGNIN">Sign In</a></li>
          <li><a href="{{otherLangURL}}" translate="CHANGE_LANGUAGE">Français</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
              <li class="dropdown" uib-dropdown>
                  <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                      <img ng-src="{{vm.authentication.user.profileImageURL}}" class="header-profile-image" />
                      <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                          <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="/api/auth/signout" target="_self"><i class="fa fa-sign-out" aria-hidden="true"></i> Signout</a>
                      </li>
                  </ul>
              </li>
              <li><a href="{{otherLangURL}}" translate="CHANGE_LANGUAGE">Français</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="themenav">
    <ul class="nav scroll dragscroll secondary affix-top" data-spy="affix" data-offset-top="150">
      <li><a class="nav-link" href="/{{currentLang}}/teams" translate="TEAMS">Teams</a></li>
      <li><a class="nav-link" href="/{{currentLang}}/projects" translate="PROJECTS">Projects</a></li>
      <li><a class="nav-link" href="/{{currentLang}}/opportunities" translate="OPPORTUNITIES">Opportunities</a></li>
    </ul>
  </div>

  <nav role="navigation" id="wb-bc" class="" property="breadcrumb">
    <h2 class="wb-inv">You are here:</h2>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li ng-if="!isHomePage()"><a href="/{{currentLang}}" translate="HOME">Home</a></li>
          <li ncy-breadcrumb></li>
        </ol>
      </div>
    </div>
  </nav>
</header>

<section id="beta-definition" class="mfp-hide modal-dialog modal-content overlay-def">
  <header class="modal-header">
    <h2 class="modal-title" translate="BETA">Beta</h2>
  </header>
  <div class="modal-body">
    <p translate="BETA_DESC">The term “beta” in software development refers to a development phase within its lifecycle that provides opportunities to conduct proofing and testing often with users from outside of the project team (general public).  This allows the project team to adjust the product according to new test data. The distribution of a beta release can be as limiting or vast as project resources allow. The goal of a beta release is to garner feedback on, but not exclusively to, the design, process, and demand by collecting user experience comments and statistics. A beta is ephemeral in nature, and moves into official production status once the proofing and testing is successful.</p>
  </div>
</section>