<h1 translate="TITLE">Government of Canada Developers Exchange</h1>

<section>
	<div class="row padding">
		<div class="col-xs-12 col-md-6">
			<img src="/modules/core/client/img/home/first.jpg" alt="{{ 'IMG_CAP1' | translate }}" class="img-responsive" />
		</div>
		<div class="col-xs-12 col-md-6">
		    <h2 class="nomargintop" translate="ABOUT_TITLE">About GC DevEx</h2>
		    <p translate="ABOUT_P1">The Government of Canada Developers Exchange (GC DevEx) offers opportunities to developers and designers across Canada to co-create improved digital engagement tools with public servants.</p>
		    <p translate="ABOUT_P2">The DevEx is an open source platform based on the Province of British Columbia <a href="https://bcdevexchange.org/" target="_blank">Developers’ Exchange</a>. The code has been copied (forked) into a repository on GitHub and is being adapted to meet Treasury Board of Canada Secretariat (TBS) Web Standards and the <em>Official Languages Act</em>.</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
		    <h2 class="nomargintop" translate="WHY_TITLE">Why was it established?</h2>
		    <p translate="WHY_P1">The intent of the GC DevEx beta is to use it to compensate developers and designers to co-create a library of digital tools that makes it easy to share, adapt and reuse fit-for-purpose solutions for governments and citizens to engage online. Additional emphasis on open source technologies encourages copying (forking) to further enhance collaboration. Together, we will make a common set of tools available for public engagement.</p>
			<p translate="WHY_P2">By focusing on small scale opportunities, we hope to increase the amount of government contracts to small and medium sized enterprises, civic technology community groups and entrepreneurs, in a way that adds value and encourages collaborative innovation within Canada.</p>
			<p translate="WHY_P3">This initiative fulfills a commitment under <a href="http://open.canada.ca/en/content/third-biennial-plan-open-government-partnership#toc5-4-2" target="_blank">Canada’s participation in the Open Government Partnership (OGP)</a>.</p>
	    </div>
		<div class="col-xs-12 col-md-6">
			<img src="/modules/core/client/img/home/second.jpg" alt="{{ 'IMG_CAP2' | translate }}" class="img-responsive" />
		</div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
			<img src="/modules/core/client/img/home/third.jpg" alt="{{ 'IMG_CAP3' | translate }}" class="img-responsive" />
		</div>
		<div class="col-xs-12 col-md-6">
		    <h2 class="nomargintop" translate="DEPTS_TITLE">Participating government departments</h2>
		    <p translate="DEPTS_P1">GC DevEx beta was started by Privy Council Office (PCO), and Treasury Board of Canada Secretariat (TBS).These departments are responsible for managing the beta site and evaluating the initiative.</p>
			<p translate="DEPTS_P2">Other federal departments can use the GC DevEx beta by contacting <a href="mailto:consultation@pco-bcp.gc.ca">consultation@pco-bcp.gc.ca</a>. After this initiative has been evaluated, the GC DevEx may be expanded to more departments within the Government of Canada.</p>
			<p translate="DEPTS_P3">Other governments can re-use the code and concept for this initiative. With the exception of the federal identifier (AKA Canada logo), all parts of this website is licensed for re-use through the <a href="http://www.apache.org/licenses/">Apache License</a>. Whether you are part of a provincial, municipal, or national government elsewhere, you can copy (fork) the code on GitHub and set-up your own micro-procurement platform to work with developers in your community.</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 text-center">
		    <h2 translate="VID_TITLE">Government collaboration at CodeFest</h2>
			<iframe width="100%" height="600" src="https://www.youtube.com/embed/UkRwPqqeR_k" frameborder="0" allowfullscreen></iframe>
	    	<p translate="VID_P1">Highlights from the 2nd CodeFest held in August 2013.</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
		    <h2 translate="LINKS_TITLE1">Work With Us</h2>
		    <ul>
	            <li translate="LINKS_A1"><a href="https://beta.gcdevexchange.org/about">About the Developer Exchange</a></li>
	            <li translate="LINKS_A2"><a href="https://github.com/canada-ca/welcome">Canada on GitHub</a></li>
	            <li translate="LINKS_A3"><a href="https://www.canada.ca/en/treasury-board-secretariat/topics/government-communications.html">Web Standards Policies</a></li>
	        </ul>
	    </div>
		<div class="col-xs-12 col-md-6">
			<h2 translate="LINKS_TITLE2">Open Source in Canada’s Governments</h2>
		    <ul>
	            <li translate="LINKS_B1"><a href="http://wet-boew.github.io/wet-boew/index.html">Web Experience Toolkit</a></li>
	            <li translate="LINKS_B2"><a href="https://github.com/gctools-outilsgc">GC 2.0 Tools on GitHub</a></li>
	            <li translate="LINKS_B3"><a href="https://bcdevexchange.org">B.C. Developers Exchange</a></li>
	            <li translate="LINKS_B4"><a href="https://government.github.com/community#canada">Canadian Government Accounts on GitHub</a></li>
	        </ul>
		</div>
	</div>
</section>