<section class="container" style="padding-top: 0;">
	<h1 property="name" id="wb-cont" translate="TITLE">Government of Canada Developers Exchange</h1>
	
	<div class="row padding">
		<div class="col-xs-12 col-md-6">
			<img src="/modules/core/client/img/home/first.jpg" alt="{{ 'IMG_CAP1' | translate }}" class="img-responsive" />
		</div>
		<div class="col-xs-12 col-md-6">
		    <h2 class="nomargintop" translate="ABOUT_TITLE">About GC DevEx Beta</h2>
		    <p translate="ABOUT_P1">The Government of Canada Developers Exchange (GC Dev Ex Beta) is a micro-procurement platform where teams within the Government of Canada can post <a href="/en/opportunities">opportunities</a> to developers who are eligible to work in Canada. The dollar value of these contracts cannot exceed $10,000 CAD, including GST. This is one of several initiatives underway to make it easier for government and developers to work together.</p>
		    <p translate="ABOUT_P2"><a href="/en/authentication/government">Register now</a> to be notified of future opportunities!</p>
	    </div>

	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
		    <h2 class="nomargintop" translate="DEPTS_TITLE">Participating government departments</h2>
		    <p translate="DEPTS_P1">GC Dev Ex Beta was started by Privy Council Office (PCO) and Treasury Board of Canada Secretariat (TBS), in collaboration with Public Services and Procurement Canada (PSPC). These departments are responsible for managing the beta site and evaluating the initiative.</p>
			<p translate="DEPTS_P2">Other federal departments who wish to use the GC Dev Ex Beta can contact <a href="mailto:consultation@pco-bcp.gc.ca">consultation@pco-bcp.gc.ca</a>. Once evaluated, the initiative may be expanded.</p>
	    </div>
		<div class="col-xs-12 col-md-6">
			<img src="/modules/core/client/img/home/second.jpg" alt="{{ 'IMG_CAP2' | translate }}" class="img-responsive" />
		</div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
			<img src="/modules/core/client/img/home/third.jpg" alt="{{ 'IMG_CAP3' | translate }}" class="img-responsive" />
		</div>
		<div class="col-xs-12 col-md-6">
		    <h2 class="nomargintop" translate="CODE_TITLE">Re-use this code</h2>
		    <p translate="CODE_P1">The code for the GC Dev Ex Beta platform was first developed by the Government of British Columbia for its <a href="https://bcdevexchange.org/">British Columbia Developers' Exchange</a>. It was then modified to meet Treasury Board of Canada Secretariat (TBS) Web Standards and the <em>Official Languages Act</em>.</p>
			<p translate="CODE_P2">Other governments can re-use this modified code. With the exception of the federal identifier (AKA Canada logo), all parts of the platform are licensed for re-use through the <a href="http://www.apache.org/licenses/">Apache License</a>.</p>
			<p translate="CODE_P3">Whether you are part of a provincial, municipal, or national government elsewhere, you can <a href="https://github.com/canada-ca/devex">fork the code on GitHub</a> and set-up your own micro-procurement platform to work with developers in your community.</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 text-center">
		    <h2 translate="VID_TITLE">Government collaboration at CodeFest</h2>
			<iframe width="100%" height="600" src="https://www.youtube.com/embed/UkRwPqqeR_k" frameborder="0" allowfullscreen></iframe>
	    	<p translate="VID_P1">Highlights from the 2nd CodeFest held in August 2013.</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
		    <h2 translate="LINKS_TITLE1">Work With Us</h2>
		    <ul>
	            <li translate="LINKS_A1"><a href="https://github.com/canada-ca/welcome">Canada on GitHub</a></li>
	            <li translate="LINKS_A2"><a href="https://www.canada.ca/en/treasury-board-secretariat/topics/government-communications.html">Web Standards Policies</a></li>
	            <li translate="LINKS_A3"><a href="https://github.com/canada-ca/devex">GCDevExchange GitHub</a></li>
	        </ul>
	    </div>
		<div class="col-xs-12 col-md-6">
			<h2 translate="LINKS_TITLE2">Open Source in Canada’s Governments</h2>
		    <ul>
	            <li translate="LINKS_B1"><a href="http://wet-boew.github.io/wet-boew/index.html">Web Experience Toolkit</a></li>
	            <li translate="LINKS_B2"><a href="https://github.com/gctools-outilsgc">GC 2.0 Tools on GitHub</a></li>
	            <li translate="LINKS_B3"><a href="https://bcdevexchange.org">B.C. Developers Exchange</a></li>
	            <li translate="LINKS_B4"><a href="https://government.github.com/community#canada">Canadian Government Accounts on GitHub</a></li>
	        </ul>
		</div>
	</div>
</section>