<section class="list-page"><div class="container" role="main">

  <div class="page-header">
    <h1 property="name" id="wb-cont">Full Data List</h1>
  </div>
  <div class="col-md-12">
    <table class="wb-tables table table-striped table-hover" ng-if="vm.users.length">
      <thead>
        <tr class="active">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Notify Opportunities</th>
          <th>Notify Events</th>
          <th>Roles</th>
        </tr>
      </thead>
      <tr ng-repeat="user in vm.users">
        <td ng-bind="user.firstName">&nbsp;</td>
        <td ng-bind="user.lastName">&nbsp;</td>
        <td ng-bind="user.email">&nbsp;</td>
        <td ng-bind="user.notifyOpportunities">&nbsp;</td>
        <td ng-bind="user.notifyEvents">&nbsp;</td>
        <td ng-bind="user.roles">&nbsp;</td>
      </tr>
    </table>
  </div>

</div></section>
