<div ng-switch on="qaz.case">

<button ng-if="isEnglish()" ng-switch-when="canadd" class="btn btn-solo btn-success btn-lg" ui-sref="en.proposaladmin.create({opportunityId:qaz.opportunity._id})" title="Apply">
	<i class="fa fa-sign-in"></i> Create Proposal
</button>
<button ng-if="isFrench()" ng-switch-when="canadd" class="btn btn-solo btn-success btn-lg" ui-sref="fr.proposaladmin.create({opportunityId:qaz.opportunity._id})" title="Apply">
	<i class="fa fa-sign-in"></i> Create Proposal
</button>

<button ng-if="isEnglish()" ng-switch-when="canedit" class="btn btn-solo btn-success btn-lg" ui-sref="en.proposaladmin.edit({proposalId:qaz.proposal._id, opportunityId:qaz.opportunity._id})" title="Update Application">
	<i class="fa fa-sign-in"></i> Edit Proposal
</button>
<button ng-if="isFrench()" ng-switch-when="canedit" class="btn btn-solo btn-success btn-lg" ui-sref="fr.proposaladmin.edit({proposalId:qaz.proposal._id, opportunityId:qaz.opportunity._id})" title="Update Application">
	<i class="fa fa-sign-in"></i> Edit Proposal
</button>

<button ng-switch-when="guest" class="btn btn-solo btn-success btn-lg" ng-click="goTo('authentication.signin')" title="Apply">
	<i class="fa fa-sign-in"></i> Sign up or log in to submit a proposal
</button>

<div ng-switch-default></div>
</div>
