<div class="row list-head">
    <div class="col-sm-7">
        <h2 class="list-page-hide">Government Partners</h2>
    </div>
    <div class="col-sm-5 col-form-buttons text-right">
        <button ng-if="vm.userCanAdd" class="btn btn-default " ui-sref="programadmin.create()" title="New">
            <i class="glyphicon glyphicon-plus"></i> New Team
        </button>
    </div>
</div>

<h1 translate="TEAMS_TITLE">All Teams</h1>
<div>
    <p translate="TEAMS_P1">The following table contains a list of all programs participating in GC DevEx beta. Filter the list by typing the name of a team or organization or sort a column using the arrows.</p>
    <p translate="TEAMS_P2">This is not a full list of all GC programs. A full list of all GC services or information is available on <a href="https://www.canada.ca/en/services.html">canada.ca</a>.</p>
</div>

<table class="wb-tables table table-striped table-hover table-bordered">
    <thead>
        <tr class="active">
            <th translate="TEAMS_TH1">Team Title</th>
            <th translate="TEAMS_TH2">Description</th>
            <th translate="TEAMS_TH3">Department</th>
        </tr>
    </thead>
    <tbody id="tbodyMain">
        <tr role="row" ng-repeat="program in vm.programs">
            <td><a ui-sref="programs.view({ programId: program.code })" ng-bind="program.title"></a></td>
            <td><p ng-bind="program.short"></p></td>
            <td><p ng-bind="program.department"></p></td>
        </tr>
    </tbody>
</table>



