<div class="row list-head">
  <div class="col-sm-7">
    <h2 class="list-page-hide">Government Partners</h2>
  </div>
  <div class="col-sm-5 col-form-buttons text-right">
    <button ng-if="vm.userCanAdd" class="btn btn-default" ui-sref="programadmin.create()" title="New">
      <i class="glyphicon glyphicon-plus"></i> <span translate="TEAM_NEW">New Team</span>
    </button>
  </div>
</div>

<h1 property="name" id="wb-cont" translate="TEAMS_TITLE">Teams List</h1>
<p translate="TEAMS_P1">The following table contains a list of all programs participating in GC DevEx beta. Filter the list by typing the name of a team or organization or sort a column using the arrows.</p>
<p translate="TEAMS_P2">This is not a full list of all GC programs. A full list of all GC services or information is available on <a href="https://www.canada.ca/en/services.html">canada.ca</a>.</p>

<table class="wb-tables table table-striped table-hover" ng-if="vm.programs.length">
  <thead>
    <tr class="active">
      <th translate="TEAMS_TH1">Team Title</th>
      <th translate="TEAMS_TH2">Description</th>
      <th translate="TEAMS_TH3">Department</th>
      <th translate="ACTIONS">Actions</th>
    </tr>
  </thead>
  <tbody id="tbodyMain">
    <tr role="row" ng-class="{'card-greyed': !program.isPublished}" ng-repeat="program in vm.programs">
      <td ng-if="isEnglish()"><a ui-sref="programs.view({ programId: program.code })" ng-bind="program.title"></a></td>
      <td ng-if="isFrench()"><a ui-sref="programs.view({ programId: program.code })" ng-bind="program.title_fr"></a></td>
      <td ng-if="isEnglish()"><p ng-bind="program.short"></p></td>
      <td ng-if="isFrench()"><p ng-bind="program.short_fr"></p></td>
      <td><p ng-bind="program.department | translate"></p></td>
      <td><div ng-if="vm.isAdmin || program.userIs.admin">
        <span ng-if="program.userIs.member && !program.userIs.admin" class="label label-primary">Member</span>
        &nbsp;
        <span ng-if="program.userIs.request" class="label label-primary" uib-tooltip="Your membership request is pending approval">Pending Member</span>
        &nbsp;
        <span ng-if="!program.isPublished" class="label label-danger" ><i class="fa fa-exclamation-triangle"></i> {{ 'UNPUBLISHED' | translate }}</span>
        &nbsp;
        <a ng-if="(vm.isAdmin || program.userIs.admin) && program.isPublished" href="javascript:void(0);" ng-click="vm.publish(program, false)" ng-click="$event.stopPropagation()" uib-tooltip="Unpublish"><i class="glyphicon glyphicon-ban-circle"></i></a>
        &nbsp;
        <a ng-if="(vm.isAdmin || program.userIs.admin) && !program.isPublished" href="javascript:void(0);" ng-click="vm.publish(program, true)" ng-click="$event.stopPropagation()" uib-tooltip="Publish"><i class="glyphicon glyphicon-check"></i></a>
        &nbsp;
        <a ng-if="vm.isGov && !program.userIs.member && !program.userIs.request" href="javascript:void(0);" ng-click="vm.request(program)" ng-click="$event.stopPropagation()" uib-tooltip="Request Membership"><i class="glyphicon glyphicon-user"></i></a>
        &nbsp;
        <a ng-if="vm.isAdmin || program.userIs.admin" href="javascript:void(0);"  id="programadmin.edit" ui-sref="programadmin.edit({ programId: program.code })" ng-click="$event.stopPropagation()" uib-tooltip="{{ 'EDIT' | translate }}"><i class="glyphicon glyphicon-edit"></i></a>
      </div></td>
    </tr>
  </tbody>
</table>

<div class="row" ng-if="!vm.programs.length">
  <div class="col-md-6">
    <div class="panel panel-default panel-body">
      <span class="text-muted" translate="TEAMS_NONE">No open teams right now. Check back soon!</span>
    </div>
  </div>
</div>
